.btn-primary {
  background-color: #07790D;
  color: white;
}

.btn-primary:hover:enabled {
  background-color: white;
  color: #07790d;
}

.btn-primary:active:enabled {
  transform: translateY(2px);
}