.btn {
  position: relative;
  border-radius: 25px;
  width: 450px;
  height: 50px;
  font-size: 15px;
  margin-bottom: 25px;
  border: 0px solid;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: lighter;
}