.knot-logo-wrapper {
  padding-top: 85px;
}

.knot-logo-image {
  width: 77px;
  height: 90px;
  margin-bottom: 30px;
}

.knot-logo-header {
  color: white;
  font-weight: normal;
  font-size: 25px;
  opacity: 1;
}

.page-title {
  color: white;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 0;
}

.sign-form {
  display: inline-block;
  width: 480px;
}

.error-container {
  min-height: 85px;
  width: 100%;
  clear: both;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 25px;
  box-sizing: border-box;
}
