.App {
  text-align: center;
  background-image: url("./_assets/png/4BackgroundDarkness.png"),
    url("./_assets/png/3BackgroundImage.png"),
    url("./_assets/png/2BackgroundColoring.png"),
    url("./_assets/png/1BackgroundGradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width:100%;
  min-height: 100vh;
  overflow: hidden;
}

.knot-logo-wrapper {
  padding-top: 85px;
  padding-bottom: 85px;
}

.knot-logo-image {
  width: 77px;
  height: 90px;
  margin-bottom: 30px;
}

.knot-logo-header {
  color: white;
  font-weight: normal;
  font-size: 25pt;
  opacity: 1;
}
