.App {
  text-align: center;
  background-image: url("./_assets/png/4BackgroundDarkness.png"),
    url("./_assets/png/3BackgroundImage.png"),
    url("./_assets/png/2BackgroundColoring.png"),
    url("./_assets/png/1BackgroundGradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width:100%;
  min-height: 100vh;
  overflow: hidden;
}

.knot-logo-wrapper {
  padding-top: 85px;
  padding-bottom: 85px;
}

.knot-logo-image {
  width: 77px;
  height: 90px;
  margin-bottom: 30px;
}

.knot-logo-header {
  color: white;
  font-weight: normal;
  font-size: 25pt;
  opacity: 1;
}

.page-title {
  color: white;
  font-weight: normal;
  font-size: 25pt;
  margin-bottom: 25px;
  margin-top: 0;
}

.text-input {
  position: relative;
  width: 430px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  font-size: 15pt;
  border: 0;
  padding-left: 20px;
}

.btn {
  position: relative;
  border-radius: 25px;
  width: 450px;
  height: 50px;
  font-size: 15pt;
  margin-bottom: 25px;
  border: 0px solid;
  padding: 0;
}

.btn-primary {
  background-color: #07790D;
  color: white;
  box-shadow: 0 3px black;
}

.btn-primary:hover {
  background-color: white;
  color: #07790d;
}

.btn-primary:active {
  box-shadow: 0 1px black;
  transform: translateY(2px);
}

.btn-secondary {
  background: rgba(7, 121, 13, 0); /* #07790D */
  color: white;
}

.btn-secondary:hover {
  background-color: white;
  color: #07790d;
}

.btn-secondary:active {
  transform: translateY(2px);
}

.sign-form {
  display: inline-block;
  width: 480px;
}