.App {
  text-align: center;
  background-image: url("./_assets/png/4BackgroundDarkness.png"),
    url("./_assets/png/3BackgroundImage.png"),
    url("./_assets/png/2BackgroundColoring.png"),
    url("./_assets/png/1BackgroundGradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  width:100%;
  min-height: 100vh;
  overflow: hidden;
  overflow-x: visible;
}
